## Import software libraries

Import the primary modules that will be used in this project:

In [32]:
import os  # Interact with the operating system
import sys  # Read system parameters

import matplotlib  # Create 2D charts
import numpy as np  # Work with multi-dimensional arrays and matrices
import pandas as pd  # Manipulate and analyze data
import scipy as sp  # Perform scientific computing and advanced mathematics
import seaborn as sb  # Perform data visualization
import sklearn  # Perform data mining and analysis

# Summarize software libraries used
print("Libraries used in this project:")
print("- NumPy {}".format(np.__version__))
print("- Pandas {}".format(pd.__version__))
print("- Matplotlib {}".format(matplotlib.__version__))
print("- SciPy {}".format(sp.__version__))
print("- Scikit-learn {}".format(sklearn.__version__))
print("- Python {}\n".format(sys.version))

Libraries used in this project:
- NumPy 1.24.3
- Pandas 2.0.3
- Matplotlib 3.7.2
- SciPy 1.10.1
- Scikit-learn 1.3.2
- Python 3.8.18 | packaged by conda-forge | (default, Dec 23 2023, 17:23:49)
[Clang 15.0.7 ]

## Load the Dataset

To analyze the price of a home  through multiple inputs in King County, load the dataset into `DataFrame`. Once loaded as `DataFrame` the data can be explored and visualized with pandas.

In [33]:
PROJECT_ROOT_DIR = "."
DATA_PATH = os.path.join(PROJECT_ROOT_DIR, "housing_data")
print("Data files in this project:", os.listdir(DATA_PATH))

# Read the raw dataset
raw_housing_data_file = os.path.join(DATA_PATH, "kc_house_data.csv")
raw_housing_data = pd.read_csv(raw_data_file)
print(
    "Loaded {} records from {}.\n".format(len(raw_housing_data), raw_housing_data_file)
)

Data files in this project: ['.ipynb_checkpoints', 'kc_house_data.csv']
Loaded 21613 records from ./housing_data/kc_house_data.csv.

## Dataset Information

#### View features and data types

Column Labels:
- **id**—Unique identifier for each house sold.
- **date**—Date of the house's most recent sale.
- **price**—Price the house most recently sold for.
- **bedrooms**—Number of bedrooms in the house.
- **bathrooms**—Number of bathrooms. A room with a toilet but no shower is counted as 0.5.
- **sqft_living**—Square footage of the house's interior living space.
- **sqft_lot**—Square footage of the lot on which the house is located.
- **floors**—Number of floor levels in the house.
- **waterfront**—Whether the property borders on or contains a body of water. (0 = not waterfront, 1 =
waterfront)
- **view**—An index from 0 to 4 representing the subjective quality of the view from the property. The
higher the number, the better the view.
- **condition**—An index from 1 to 5 representing the subjective condition of the property. The higher
the number, the better the condition.
- **grade**—An index from 0 to 14 representing the quality of the building's construction and design.
The higher the number, the better the grade.
- **sqft_above**The square footage of the interior housing space that is above ground level.
- **sqft_basement**—The square footage of the interior housing space that is below ground level.
- **yr_built**—The year the house was initially built.
- **yr_renovated**—The year of the house's last renovation.
- **zipcode**—What zipcode area the house is located within.
- **lat**—Latitude of the house's location.
- **long**—Longitude of the house's location.
- **sqft_living15**—The square footage of interior housing living space for the nearest 15 neighbors.
- **sqft_lot15**—The square footage of the lan

In [34]:
print(raw_housing_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB
None

- 21,613 records ("entries" regarding a particular house) are in the dataset.
- There are 21 columns in the dataset.
- Each column in the dataset is listed, along with its data type and the number of records that
include a data value.
- Five columns contain floating point number values: price, bathrooms, floors, lat, and
long.
- Fifteen columns contain integer number values: id, bedrooms, sqft_living, sqft_lot,
waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built,
yr_renovated, zipcode, sqft_living15, and sqft_lot15.
- One column (date) contains a date value (reported as an "object" value).
- There are no missing data values. Each column contains 21,613 entries.

### Display samples

You can see significant variation in prices, number of bedrooms and bathrooms, living space, even in this small sample.

In [37]:
# View first ten records
print(raw_housing_data.head(10))

           id             date      price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000   221900.0         3       1.00         1180
1  6414100192  20141209T000000   538000.0         3       2.25         2570
2  5631500400  20150225T000000   180000.0         2       1.00          770
3  2487200875  20141209T000000   604000.0         4       3.00         1960
4  1954400510  20150218T000000   510000.0         3       2.00         1680
5  7237550310  20140512T000000  1225000.0         4       4.50         5420
6  1321400060  20140627T000000   257500.0         3       2.25         1715
7  2008000270  20150115T000000   291850.0         3       1.50         1060
8  2414600126  20150415T000000   229500.0         3       1.00         1780
9  3793500160  20150312T000000   323000.0         3       2.50         1890

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0
5    101930     1.0           0     0  ...     11        3890           1530
6      6819     2.0           0     0  ...      7        1715              0
7      9711     1.0           0     0  ...      7        1060              0
8      7470     1.0           0     0  ...      7        1050            730
9      6560     2.0           0     0  ...      7        1890              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800
5      2001             0    98053  47.6561 -122.005           4760
6      1995             0    98003  47.3097 -122.327           2238
7      1963             0    98198  47.4095 -122.315           1650
8      1960             0    98146  47.5123 -122.337           1780
9      2003             0    98038  47.3684 -122.031           2390

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503
5      101930
6        6819
7        9711
8        8113
9        7570

[10 rows x 21 columns]